.plan {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 15px;
    opacity: 0.8;
}

.plan:hover {
    opacity: 1;
}

.plan>button {
    padding: 10px 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    background-color: #e50914;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.plan_disabled>button {
    background-color: gray !important;
}

.plan_info>h5 {
    font-size: 1.1rem;
    width: fit-content;
}

.plan_info>h6 {
    font-size: 0.9rem;
    padding-top: 1px;
}


@media (min-width:768px) and (max-width:1060px) {
    .plan {
        gap: 7rem;

    }
}